In [ ]:
'''
exploratory notebook containing
data cleaning and base pipeline model
for application

DCohen
MFa
EPadilla
RJProctor
'''

In [2]:
!pip install category_encoders==2.*

Collecting category_encoders==2.*
  Downloading category_encoders-2.2.2-py2.py3-none-any.whl (80 kB)
     |████████████████████████████████| 80 kB 872 kB/s
Collecting scipy>=1.0.0
  Downloading scipy-1.5.3-cp38-cp38-manylinux1_x86_64.whl (25.8 MB)
     |████████████████████████████████| 25.8 MB 4.5 MB/s
Requirement already satisfied: numpy>=1.14.0 in /home/braden42/.local/share/virtualenvs/bw3_airbnb_dash-S--9Ubnp/lib/python3.8/site-packages (from category_encoders==2.*) (1.19.2)
Collecting scikit-learn>=0.20.0
  Downloading scikit_learn-0.23.2-cp38-cp38-manylinux1_x86_64.whl (6.8 MB)
     |████████████████████████████████| 6.8 MB 4.0 MB/s
Collecting patsy>=0.5.1
  Downloading patsy-0.5.1-py2.py3-none-any.whl (231 kB)
     |████████████████████████████████| 231 kB 2.9 MB/s
Requirement already satisfied: pandas>=0.21.1 in /home/braden42/.local/share/virtualenvs/bw3_airbnb_dash-S--9Ubnp/lib/python3.8/site-packages (from category_encoders==2.*) (1.1.3)
Collecting statsmodels>=0.9.0
  Downloading statsmodels-0.12.0-cp38-cp38-manylinux1_x86_64.whl (9.4 MB)
     |████████████████████████████████| 9.4 MB 414 kB/s
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Collecting joblib>=0.11
  Downloading joblib-0.17.0-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 13.1 MB/s
Requirement already satisfied: six in /home/braden42/.local/share/virtualenvs/bw3_airbnb_dash-S--9Ubnp/lib/python3.8/site-packages (from patsy>=0.5.1->category_encoders==2.*) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /home/braden42/.local/share/virtualenvs/bw3_airbnb_dash-S--9Ubnp/lib/python3.8/site-packages (from pandas>=0.21.1->category_encoders==2.*) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/braden42/.local/share/virtualenvs/bw3_airbnb_dash-S--9Ubnp/lib/python3.8/site-packages (from pandas>=0.21.1->category_encoders==2.*) (2.8.1)
Installing collected packages: scipy, threadpoolctl, joblib, scikit-learn, patsy, statsmodels, category-encoders
Successfully installed category-encoders-2.2.2 joblib-0.17.0 patsy-0.5.1 scikit-learn-0.23.2 scipy-1.5.3 statsmodels-0.12.0 threadpoolctl-2.1.0

In [4]:
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LassoCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

print(f'matplotlib=={matplotlib.__version__}')
print(f'seaborn=={sns.__version__}')
print(f'joblib=={joblib.__version__}')
print(f'pandas=={pd.__version__}')
print(f'numpy=={np.__version__}')
print(f'category_encoders=={category_encoders.__version__}')
print(f'sklearn=={sklearn.__version__}')
# matplotlib==3.2.2
# seaborn==0.11.0
# joblib==0.16.0
# pandas==1.1.2
# numpy==1.18.5
# category_encoders==2.2.2
# sklearn==0.22.2.post1

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Need to download the AirBnB training data to you local machine from Kaggle
# https://www.kaggle.com/rudymizrahi/airbnb-listings-in-major-us-cities-deloitte-ml

df = pd.read_csv('/content/train.csv')

In [ ]:
df.head()

         id  log_price property_type  ...  zipcode bedrooms  beds
0   6901257   5.010635     Apartment  ...    11201      1.0   1.0
1   6304928   5.129899     Apartment  ...    10019      3.0   3.0
2   7919400   4.976734     Apartment  ...    10027      1.0   3.0
3  13418779   6.620073         House  ...  94117.0      2.0   2.0
4   3808709   4.744932     Apartment  ...    20009      0.0   1.0

[5 rows x 29 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 15.9+ MB

In [ ]:
def wrangle(X):
  # make a copy
  X = X.copy()

  # columns with unusable variance
  unusable_variance = ['zipcode']

  # columns with high percentage of missing values
  high_nans = ['first_review','host_response_rate','last_review',
               'review_scores_rating','thumbnail_url']

  # categorical values with high cardinality
  # 'neighborhood' has 620 and 'thumbnail_url' has many thousands
  high_card = ['neighbourhood','thumbnail_url','name','amenities',
               'description', 'id']

  # Get the price and drop the log of price
  X['int_price'] = np.exp(X['log_price'])
  X = X.drop(['log_price'] + unusable_variance + high_nans + high_card, axis=1)

  return X

In [ ]:
df = wrangle(df)

In [ ]:
df.head()

  property_type        room_type  accommodates  ...  bedrooms beds int_price
0     Apartment  Entire home/apt             3  ...       1.0  1.0     150.0
1     Apartment  Entire home/apt             7  ...       3.0  3.0     169.0
2     Apartment  Entire home/apt             5  ...       1.0  3.0     145.0
3         House  Entire home/apt             4  ...       2.0  2.0     750.0
4     Apartment  Entire home/apt             2  ...       0.0  1.0     115.0

[5 rows x 18 columns]

In [ ]:
target = 'int_price'
y = df[target]

X = df.drop('int_price', axis=1)

In [ ]:
X.shape

(74111, 17)

In [ ]:
model = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    StandardScaler(),
    LassoCV()
)

model.fit(X, y)

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['property_type', 'room_type', 'bed_type',
                                     'cancellation_policy', 'city',
                                     'host_has_profile_pic',
                                     'host_identity_verified', 'host_since',
                                     'instant_bookable'],
                               drop_invariant=False, handle_missing='value',
                               handle_unknown='value', return_df=True,
                               use_cat_names=True, verbose=0)),
                ('simpleimputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [ ]:
# Check metrics

print('Training MAE:', mean_absolute_error(y_train, model.predict(X_train)))
print('Validation MAE:', mean_absolute_error(y_val, model.predict(X_val)))

In [ ]:
# check metrics

print('Training R-score:', r2_score(y_train, model.predict(X_train)))
print('Validation R-score:', r2_score(y_val, model.predict(X_val)))

In [ ]:
from joblib import dump
pipeline = model
dump(pipeline, 'pipeline.joblib', compress=True)